/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */

/* fonts & typography */
$f-primary: 'Poppins', sans-serif;
$base-font-size: 1.8rem;
$base-line-height: $base-font-size * 1.5;

$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

/* colors */
$c-body: hsl(195, 100%, 99%);
$c-white: hsl(0, 0%, 100%);
$c-blue: hsl(219, 97%, 62%);
$c-light-blue: hsl(218, 100%, 96%);
$c-hard-blue: hsl(219, 60%, 49%);
$c-dark-blue: hsl(228, 33%, 3%);
$c-grey-blue: hsl(227, 9%, 40%);
$c-red: hsl(349, 99%, 58%);
$c-yellow: hsl(45, 100%, 48%);
$c-linear-blue: linear-gradient(95.44deg, #3ee1fc 0%, #3e82fc 100%);
$c-shadow: 0px 4px 60px rgba(62, 130, 252, 0.35);
$c-shadow-1: 0px 54px 104px 0px #0000000A;

// breakpoints
@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
}

body {
  font-family: $f-primary;
  color: $c-grey-blue;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $c-body;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $c-blue;
    transition: all 0.3s ease-in-out;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $c-dark-blue;
  font-weight: $fw-semibold;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.28;
  @include respond(desktop) {
    font-size: 7.2rem;
  }
}

h2 {
  font-size: 3.1rem;
  line-height: 1.26;
  @include respond(tablet) {
    font-size: 6.2rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
  @include respond(tablet) {
    font-size: 4rem;
  }
}

h4 {
  font-size: 2.4rem;
  line-height: 1.083333;
}

h5 {
  font-size: 2rem;
  line-height: 1.8;
  font-weight: $fw-medium;
}

img {
  width: 100%;
  display: block;
}

/* resusable classes */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
  margin: auto;
}

.pretitle {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: $fw-medium;
  color: $c-blue;
}

.subtitle {
  font-size: 1.8rem;
  line-height: 1.46;
  margin-bottom: 3.2rem;
  @include respond(tablet) {
    font-size: 2.2rem;
  }
}

.section {
  padding: 4rem 0;
  @include respond(tablet) {
    padding: 13rem 0;
  }
}

.btn {
  background: none;
  border: none;
  font-family: $f-primary;
  font-size: 1.6rem;
  font-weight: $fw-semibold;
  padding: 0 4rem;
  border-radius: 30px;
  height: 6.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include respond(tablet) {
    font-size: 1.8rem;
  }
  &--primary {
    background: $c-blue;
    color: $c-white;
    box-shadow: $c-shadow;
    &:hover {
      background: darken($c-blue, 10%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--outline {
    background: none;
    color: $c-blue;
    border: 1px solid $c-blue;
    
    &:hover {
      background: $c-blue;
      border: 1px solid transparent;
      color: $c-white;
      transition: all 0.3s ease-in-out;
    }
  }
}

// header styles
.header {
  position: fixed;
  width: 100%;
  height: 7rem;
  z-index: 2;
  @include respond(tablet) {
    height: auto;
    padding: 2.4rem 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__logo {
    display: flex;
  }
  &__nav-trigger {
    background-color: #3ee1fc;
    font-size: 4rem;
    color: $c-dark-blue;
    cursor: pointer;
    @include respond(tablet) {
      display: none;
    }
  }
}
.nav {
  background: $c-dark-blue;
  position: absolute;
  max-height: 0;
  top: 7rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  @include respond(tablet) {
    background: none;
    position: relative;
    max-height: 100%;
    top: 0;
  }
  &__list {
    @include respond(tablet) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 6.9rem;
    }
  }
  &__item {
    margin: 2rem 0;
  }
  &__link {
    color: $c-white;
    font-weight: $fw-medium;
    @media (min-width: 768px) {
      color: $c-dark-blue;
    }
  }
  &.open {
    max-height: 300px;
  }
}

// .hero styles
.hero {
  display: flex;
  background: url('./img/hero_bg.svg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10rem 0;
  position: relative;
  z-index: 1;
  @include respond(tablet) {
    height: 60rem;
  }
  @include respond(desktop) {
    padding-top: 22.6rem ;
    height: 79.6rem;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 123.4rem;
      background: url('./img/model.svg') no-repeat;
      top: 0;
      z-index: -1;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include respond(desktop) {
      flex-direction: row;
    }
  }
  &__left,
  &__right {
    flex: 1;
  }
  &__left {
    text-align: center;
    @include respond(desktop) {
      text-align: left;
    }
  }
  &__right {
    display: none;
    @include respond(tablet) {
      display: flex;
      justify-content: end;
    }
    @include respond(desktop) {
      display: flex;
    }
  }
  &__subtitle {
    max-width: 459px;
    margin: 0 auto 2.6rem auto;
    @include respond(desktop) {
      margin: 0 0 5.2rem 0;
    }
  }
  &__btn {
    width: 100%;
    margin-bottom: 1.4rem;
    &:nth-of-type(1) {
      margin-right: 2rem;
    }
    @include respond(tablet) {
      width: auto;
    }
  }
  &__img {
    max-width: 488px;
    max-height: 662px;
    display: none;
    @include respond(desktop) {
      display: flex;
    }
  }
}

// features styles
.features {
  position: relative;
  z-index: 2;
  @include respond(desktop) {
    margin-top: 18rem;
  }
  &__container {
    padding: 6.6rem;
    background: white;
    box-shadow: $c-shadow-1;
    @include respond(desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  .feature {
    text-align: center;
    margin-bottom: 4rem;
    max-width: 26.8rem;
    @include respond(desktop) {
      text-align: left;
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__img {
      width: 7.6rem;
      height: 7.6rem;
      margin: 0 auto 2.8rem auto;
      @include respond(desktop) {
        margin: 0 0 2.8rem 0;
      }
    }
  }
}

/* Media Queries */
/* 576px - phones. */
/* 768px - tablets. */
/* 992px - laptops. */
/* 1200px - large devices. */
